@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulseShadow {
0% {
  box-shadow: 0 0 25px 5px rgba(59, 130, 246, 0.7);
}
50% {
  box-shadow: 0 0 80px 30px rgba(79, 65, 234, 0.448);
}
100% {
  box-shadow: 0 0 25px 5px rgba(59, 130, 246, 0.7);
}
}




/* Apply the animation to the container */
.rotate-shadow-animation {
  position: relative;
  animation: pulseShadow 4s infinite ease-in-out;
  box-shadow: 0 0 25px 5px rgba(59, 130, 246, 0.7);
}

